<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178342130980-ee8u9rjd9iqai8fjm3jgjbsm12b84ccm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178342130980-ee8u9rjd9iqai8fjm3jgjbsm12b84ccm</string>
	<key>API_KEY</key>
	<string>AIzaSyA4Jsd3A_GK9rcF7MWHzl_D8o5Gh2tVtW8</string>
	<key>GCM_SENDER_ID</key>
	<string>178342130980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.day1</string>
	<key>PROJECT_ID</key>
	<string>flutter-first-project-fc03a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-first-project-fc03a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178342130980:ios:6a573bda9f355f7603afb1</string>
</dict>
</plist>